.application {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    border: 1px #d1d1d1 solid;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding:10px;
}

.application input, .application textarea {
    height: 45px;
    width:100%;
    margin-bottom:10px;
    background: #eff3f4;
}

.application input {
    font-weight: bold;
}

.app-actions {
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    height: 50px;
    align-items: center;
}

.application_details {
    border: 1px #d1d1d1 solid;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    margin-top:10px;
}


.application_details_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.application_details_tabs, .application_details_body{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top:10px;
    align-items: center;
   }

   .application_details_tabs {
    height:50px;
   }


   .application_details_tabs {
    box-sizing: border-box;
    border: #d1d1d1 solid 1px;
    padding: 5px;
    gap:10px
   }

   .application_details_body{
    min-height: auto;
    flex-direction: column;
   }

   .application_details_tabs button {
        flex:1;
        cursor: pointer;
   }

   .application_details_diary, .application_details_notes, .application_details_ideas, .application_details_bugs, .application_details_github {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
   /*  border: 1px #d1d1d1 solid; */
    background-color: white;
}

.diary_pagination, .notes_pagination, .ideas_pagination, .bugs_pagination, .github_pagination {
    display: flex;
    justify-content: center;
    margin-top:10px;
    height: 45px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap:5px;
}

.diary_pagination button, .notes_pagination button, .ideas_pagination button, .bugs_pagination button, .github_pagination button {
    border-radius: 5px;
    font-weight: bold;
}

.application_details_diary .diary{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border: 1px #d1d1d1 solid;
    background-color: white;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.application_details_diary .diary_text {
    display: flex;
    width: 100%;
}

.application_details_notes .note {
    display: flex;
    box-sizing: border-box;
    padding:10px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top:30px;
    border:1px #d1d1d1 solid;
    background-color: white;
}

.application_details_notes .note_date,.application_details_diary .diary_date,.application_details_bugs .bug_date,.application_details_ideas .idea_date {
    height:35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bolder;
    color: #2e6d4a;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    }

.application_details_bugs .bug {
    display: flex;
    flex-direction: column;
    border: 1px #d1d1d1 solid;
    background: white;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px;
} 

.application_details_bugs .bug_text{
    display: flex;
    align-items: center;
    min-height: 50px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.application_details_bugs .bug_text pre {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    display: block;
    box-sizing: border-box;
    padding:10px;
    font-family: 'Open Sans';
    font-size: 16px;
}


.application_details_ideas .idea {
    display: flex;
    flex-direction: column;
    border: 1px #d1d1d1 solid;
    background: white;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.application_details_ideas .idea_title {
    height:35px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.application_details_ideas .idea_text {
    display: flex;
    align-items: center;
    min-height: 50px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
   
}