/* Definovanie premenných pre farby */
:root {
    /*    --color-low: black;
    --color-medium-text: white;
    --color-medium-bg: blue;
    --color-high-bg: orange;
    --color-critical-bg: red; */


    --color-low: white;
    /* tmavšia sivá */
    --color-medium-text: #ffffff;
    --color-medium-bg: #7286d3;
    /* tlmená pastelová modrá */
    --color-high-bg: #ef7f48;
    /* tlmená pastelová oranžová */
    --color-critical-bg: #ec5050;
    ;
    /* tlmená pastelová červená */
}

/* Základný štýl pre všetky úrovne */
.status {
    color: var(--color-low);
    /* Predvolená farba textu */
    font-weight: bold;
}

/* Stredná úroveň - Medium */
.medium {
    background-color: var(--color-medium-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Vysoká úroveň - High */
.high {
    background-color: var(--color-high-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Kritická úroveň - Critical */
.critical {
    background-color: var(--color-critical-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Nízka úroveň - Low */
.low {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    color: #555;
    border: 1px solid;
    border-color: var(--color-badge-border);
}

.idea_status,
.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
    padding: 6px 12px;
    height: 38px;
}

.idea_status {
    background-color: white;
    border: 1px #666 solid;

}

.idea_comment_new form {
    display: flex;
    flex-direction: column;
}

.idea_comment_new form input,
.idea_comment_new form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #eee;
}

.idea, .idea_detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px #5e4d9b solid;
    padding: 10px;
    background: #fff;
    min-height: 50px;
}

.idea_detail {
    margin-top:70px
}    

.idea:hover {
    background-color: #9389bd;
    background-color: #eee;
}

.idea_title {
    font-weight: bold;
    padding-left: 10px;
}


.idea_title,
.idea_comm_title {
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.new_bug form select,
.new_idea form select {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    background: #eff3f4;
    border: 1px #d1d1d1 solid;
    box-sizing: border-box;
    padding: 5px;
}


.idea_text {
    font-size: 18px;
}

.idea_text,
.idea_comm_text {
    padding: 10px 10px 20px 10px;
    /* min-height: 70px; */
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
}


.idea_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    box-sizing: border-box;
}

.idea_footer {
    height: 40px;
}


.idea_status {
    border: 1px #666 solid;
}


.idea_status,
.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
    padding: 6px 12px;
    height: 38px;
}


dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    padding: 10px;
    width: 150px;
}

dialog ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

dialog ul li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.idea_comments,
.idea_application {
    margin-right: 0px;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    height: 38px;
}

.idea_comments,
.idea_application {
    display: flex;
    margin-left: 5px;
    background: #0b9ed0;
    color: #fff;
    padding: 6px 12px;
    border-radius: 0px;
    align-items: center;
}

.idea_application:hover {
    cursor: pointer;
}


.new_idea,
.idea_comment_new,
.idea_comment {
    background: white;
    border: 1px #5e4d9b solid;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.idea_comment {
    margin-bottom: 10px;
}

.idea_comment,
.idea_comment_new {
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px;
}

.new_idea,
.idea_comment_new {
    margin-left: 0;
}

.idea_comment::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    z-index: 1;
}

.bug_comment::after,
.idea_comment::after {
    content: "";
    display: table;
    clear: both;
}

.new_idea_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}


.new_idea input,
.new_idea textarea {
    margin-top: 10px;
}

.new_idea input {
    font-weight: bold;
}

.new_idea input::placeholder {
    font-weight: normal;
}

.idea_status {
    border: 1px #666 solid;
}

.idea_status,
.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
    padding: 6px 12px;
    height: 38px;
    box-sizing: border-box;
}

.ideas_list,
.ideas_comment_list {
    display: flex;
    flex-direction: column;
}

.ideas_list,
.ideas_comment_list {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.idea_comment_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

dialog ul {
    padding: 0;
    margin: 0;
}

dialog ul li:hover {
    background-color: lightgray;
    cursor: pointer;
}

dialog ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.idea_application_filter {
    width: 100%;
    height: 55px;
    display: flex;
    gap: 10px;
    /* border: 1px #d1d1d1 solid; */
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* background-color: white; */
}

.idea_priority_filter,
.idea_status_filter {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 10px;
    border: 1px #d1d1d1 solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    /* background-color: white; */
}

.idea_priority_filter button,
.idea_status_filter button {
    /* flex-grow: 1;
    border: 1px #d1d1d1 solid;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: lowercase; */
    margin-top:15px;
    text-transform: lowercase;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    flex-grow:1;
    height:70%;
}

.filter_legend {
    height: 20px;
    width:100px;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 5px;
    border: 1px #d1d1d1 solid;
    font-size: 14px;
    box-sizing: border-box;
    
}



.idea_comm_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal_change_app {
    width: 20%;
    min-height: 20%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal_change_app ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal_change_app ul li {
    text-transform: lowercase;
    width: 100%;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal_change_app ul li:hover {
    /* background: #eee;
    background-color: #bca8db */
    background-color: #ded4ec;
}

.idea_implemented {
    box-sizing: border-box;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.idea_status_priority_filters {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    gap:10px;
}

.ideas_filters, .ideas_search {
    margin-top: 25px;
    margin-bottom: 10px;
    border: 1px #5e4d9b solid;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.modal_idea_comments {
    top:10%;
    left:45%;
    min-height:250px;
    width: 50%;
}

.idea_comments:hover {
    cursor: pointer;
}