.new_note {
    display: flex;
    box-sizing: border-box;
    padding:10px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top:30px;
    border:1px #d1d1d1 solid;
    background-color: white;
}

.new_note input, .new_note textarea {
    height: 45px;
    width:100%;
    margin-bottom:10px;
    background: #eff3f4;
}


.new_note textarea {
    min-height: 100px;
}


.add_note_action,.note_action{
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    height: 50px;
    align-items: center;
    gap: 10px;
}

.new_note input {
    font-weight: bold;
}

.new_note input::placeholder {
    font-weight: normal;
}

.note {
    display: flex;
    box-sizing: border-box;
    padding:10px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top:30px;
    border:1px #d1d1d1 solid;
    background-color: white;
}

.note_title {
    font-weight: bold;
    font-size: 18px;
    color: #2f2d3b;
    margin-top:10px;
    margin-bottom: 10px;
}

.note_application {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    height:100%
}


 button[name="note_application"] {
    border: 1px #8773b2 solid;
    border-radius: 5px;
    background-color: #8773b2;
    cursor: pointer;
    color: white;
}

button[name="note_application"]:hover {
    opacity: 0.8;
}

.note_action button:hover {
    opacity: 0.8;
}

.modal_change_app ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal_change_app ul li {
    width: 100%;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal_change_app ul li:hover {
    /* background: #eee;
    background-color: #bca8db */
    background-color: #ded4ec;
}